:root {
  --footer-text-color: #8e8f99;
  --primary-color: #4d5ae5;
  --accent-color: #404bbf;
  --icon-fill-color: #f4f4fd;
  --text-size-default: 16px;
  --line-height-default: 1.5;
  --letter-spacing-default: 0.02em;
  --letter-spacing-btn: 0.04em;
}

 *{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  color: #434455;
  background-color: #fff;
  margin: 0;
  line-height: 1.5;

}
html, body {
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.no-scroll {
  overflow: hidden;
}
.no-scroll {
    overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.hero.section {
  padding: 188px 0 188px;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  background-color: #2E2F42;
  color: #fff;
  max-height: 600px;
  line-height: 1.07;
}

.section {
  padding: 120px 0 120px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: var(--text-size-default);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-default);
}

.site-header {
  width: 1440px;
  height: 72px;
  margin: 0 auto;
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav,
.contact-info {
  display: flex;
  align-items: center;
}

.header-nav {
  gap: 40px;
}



.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo .logo-part {
  color: #2e2f42;
}

.nav-list a {
  color: #2e2f42;
  font-weight: 500;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: #404bbf;
  border-radius: 4px;
  outline: none;
}

.nav-link.current {
  position: relative;
  color: #404bbf;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contact-info .nav-link {
  margin-bottom: 0;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info a {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}

.nav-list a:hover,
.nav-list a:focus,
.contact-info a:hover,
.contact-info a:focus {
  color: #404bbf;
}



.burger-line {
  width: 24px;
  height: 2px;
  background-color: #2e2f42;
  display: block;
}


.hero {
  text-align: center;
  background-color: #2E2F42;
  color: white;
  padding: 120px 0 120px;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.btn-services {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--icon-fill-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-btn);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-services:hover,
.btn-services:focus {
  background-color: #404BBF;

}

.values-list {
  display: flex;
  gap: 24px;

}

.values-list li {
  width: calc((100% - 72px) / 4);
}

.card-content {
  text-align: center;
}

.value-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;

}

.value-icon {
  display: block;
  fill: currentColor;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.values-list svg {
  fill: currentColor;
}

.value-icon:hover,
.value-icon:focus-within {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

 .team {
  background-color: #F4F4FD;
  text-align: center;
  height: 780px;
  
}

.team-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  gap: 8px;
  display: flex;
  flex-direction: column;
   padding: 24px 0 24px 0;
   margin-top: 0;
}

.team-item .text-team{
  font-weight: 400; 
   font-size: 16px;
   line-height: 24px; 
   letter-spacing: 0.02em;
    margin-bottom: 0px;
   
 
  
}

.team-list {
  text-align: center;
  background-color: #F4F4FD;
}

.team-title {
  font-size: 36px;
  margin-bottom: 72px;
  color: #2E2F42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

}

.team-list ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  background-color: #fff;
  max-width: 264px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: calc((100% - 72px)/4);
  text-align: center;
  row-gap: 48px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-members-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.team-members-list .social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}



.social-item {
  width: 40px;
  height: 40px;
}


.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--footer-text-color, #f4f4fd);
}

.icon {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus-within {
  box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
}

.portfolio-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 0;
  row-gap: 48px;

}

.portfolio-list li,
.list-item {
  background-color: #fff;
  border: 1px solid #E7E9FC;
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li:hover,
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.value-text{
    text-align: left;
  }
.card-thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li:hover .thumb-text,
.portfolio-item:hover .thumb-text {
  transform: translateY(0%);
}

.portfolio-link {
  font-size: 36px;
  margin-bottom: 72px;
  color: #2E2F42;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-links {
  background-color: #2e2f42;
  color: var(--footer-text-color, #ffffff);
  padding: 100px 0;
  display: flex;
  
}




.footer-logo-wrapper {
  max-width: 264px;
  margin-top: 40px;
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}


.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color, #ffffff);
  flex: 1 1 100%;
  margin-bottom: 24px; 
text-align: left;
}

.social-list {
  display: flex;
  gap: 16px;
  flex: 1 1 100%;
   list-style: none;
  margin-top: 0;
  
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  outline: none;

}
.social-section{
  padding-top: 0;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
  outline: none;
}

.social-icon {
  fill: var(--footer-text-color, #f4f4fd);
}

.footer-links .social-link:hover,
.footer-links .social-link:focus {
  background-color: #31d0aa;
}

.footer-links .social-list {
  gap: 16px;
}

.footer-links .social-title {
  color: #FFFFFF;
}

/*.footer-links .footer-logo-wrapper {
  margin-left: 156px;
}*/

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  display: inline-block;
  margin-bottom: 16px;
 
}

.footer-logo .logo-part {
  color:#ffffff;
}

.footer-text {
  max-width: 312px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: justify;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.list-item:first-child {
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-role {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.value-title {
  margin-bottom: 8px;
}

.team-subtitle {
  margin-bottom: 8px;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
  
  }

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  
}

.modal {
  position: relative;
  margin: auto;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  min-height: 584px;
  max-width: 408px;
  width: 100%;
  padding: 72px 24px 24px;
  box-sizing: border-box;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);

}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: left;
}

.subscribe-form {
  display: flex;
  gap: 24px;

}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
   border-radius: 4px;
   border: none; 
   }

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
  outline: none;
   border: none; 
}

.subscribe-icon {
  margin-left: 16px;
    width: 24px;
  height: 24px;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   
  
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
       padding: 0;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  outline: none;
  border: none; 
}

.modal-close svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg,
.modal-close:focus svg {
  fill: #ffffff;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  font-size: 16px; 
   line-height: 1.5;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--text-light, #8e8f99);
  margin-bottom: 4px;
  }

.input-wrapper {
  position: relative;
 

}

.input-wrapper svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
   margin-bottom: 16px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.form-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-icon-privacy {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus+.input-icon,
.form-input:not(:placeholder-shown)+.input-icon {
  fill: #4d5ae5;
}

.form-input:focus+svg {
  fill: #4d5ae5;
}

textarea.form-input {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  
}

textarea:focus,
input:focus {
  outline: 2px solid #4d5ae5;
}

.form-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--footer-text-color);
}
.form-comment{
margin-bottom: 16px
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.agree-checkbox:checked+.custom-checkbox {
  background-color: var(--accent-color, #404bbf);
  border: none;
  fill: var(--checkbox-icon-color, #f4f4fd);
}

.agree-checkbox:checked+.form-agreement .custom-checkbox {
  background-color: var(--accent-color);
  border: none;
  fill: var(--icon-fill-color);
 }



.privacy-link {
  color: var(--primary-color);
  text-decoration: underline;
}

.submit-btn {
  align-self: center;
  min-width: 169px;
  padding: 16px 32px;
  background-color: #4d5ae5;
    color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  height: 56px ;
  display: block; 
  justify-content: center;
  
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
  
}

.no-scroll {
  overflow: hidden;
}

.highlight {
  color: #4d5ae5;
  font-weight: 500;
  text-decoration: underline;
   
}



@media screen and (min-width: 320px)and (max-width: 767px) {
   .contact-info,
   .nav-list {
    display: none;
    font-style: normal;
}

  .mobile-menu,
  .mobile-menu-toggle {
    display: flex;
    
  }
.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 40px; 
  
}
.container {
    max-width: 100%;   
    padding-left: 16px; 
    padding-right: 16px;
  }

  .hero {  
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/hero.jpg);
  }
 

.mobile-menu-toggle {
  position: absolute;
  top: 24px;
  left: 350px;
  width: 16.8px;
  height: 14.4px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  z-index: 1001;
  gap:  2.4px;
}


    .mobile-menu{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 24px 16px;
  z-index: 1000;
  transform: translateX(100%);
  
}


  .mobile-menu-toggle.is-hidden {
  display: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close {
position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
       padding: 0;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  outline: none;
  border: none; 
}

.mobile-menu-close svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover svg,
.mobile-menu-close:focus svg {
  fill: #ffffff;
}


.mobile-nav-list {
  list-style: none;
  padding-left: 16px;
  flex-direction: column;
  gap: 40px;
  margin-top: 72px;
   
}

.mobile-nav-list .nav-link {
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color: rgba(46, 47, 66, 1);
  gap: 40px;
}

.mobile-nav-list .studio-link {
  color: rgba(64, 75, 191, 1);
 
}
.mobile-nav-list,
.mobile-contact {
  flex-direction: column;

}

.mobile-contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 16px;
  margin-top: 72px;
  
}

.phone-link {
  font-size: 20px;
  font-weight: 500;
  color: rgba(77, 90, 229, 1);
  text-decoration: none;
  flex-direction: column;
  margin-top: 96px;
}


.email-link {
  font-size: 20px;
  font-weight: 500;
  color: rgba(67, 68, 85, 1);
  text-decoration: none;
}


.mobile-social-icons {
  
  display: flex;
  gap: 40px;
  color:   rgba(77, 90, 229, 1);
  opacity: 1;
   
margin-left: 16px;
margin-right: 16px;

}


.mobile-social-icons a:hover .social-icon,
.mobile-social-icons a:active .social-icon {
  fill: rgba(64, 75, 191, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.hero {
  
 max-height: 432px;
  
  }

.hero-title {
max-width: 216px;
max-height: 160px;
margin-bottom: 136px;
text-align:  center;
}


.value-item {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-left: 16px;
    margin-right: 16px;

  }

  
.values-list {
  list-style: none;
  margin-right: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 72px;
  max-width: 100%;
}
.values-list li{
  
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 288px;        
  max-height: 120px;
  width: 100%;
  max-width: 100%;
}

.icon-box{
  display: none;
}
.value-title-title {
    font-weight: 700;    
    font-size: 36px;
    line-height: 40px;
   text-align: center;
    margin-bottom: 0;

  }
  .value-text{
   font-weight: 500; 
   font-size: 16px;
   height: 72px;
   line-height: 24px; 
   letter-spacing: 0.02em; 
   text-align: left;
}

 
 .team {
  background-color: #F4F4FD;
  text-align: center;
  height: 2232px;
  
}

 .team .team-item {
  width: 100%;
  max-width: 264px;
  max-height: 428px;
  }
      
.agree-checkbox:checked:active,
.mobile-social-icons .social-icon:active  {
  background-color: #404bbf;
}

 
.portfolio-list li,
.list-item {
    width: 100%;
  }
.portfolio-list .portfolio-item {
  max-width: 288px;
}


.footer-logo
 {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.social-title, 
.subscribe-text{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
   
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 16px; 
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal {
width: 90vw;      
  max-width: 90vw;
  height: 90vh;      
  max-height: 90vh;
}
.footer-container{

  flex-wrap: wrap;  
  flex: 0 1 calc((100% - 24px) / 2); 
  box-sizing: border-box;
  height: 664px;
 width: 320px;
}

.social-section{
   margin-left: 36px;
  
     
       
}
}


@media (min-resolution: 2x){
  .hero {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/hero-tab-bg@2x.jpg);
  }
  }



@media screen and (min-width: 768px) and (max-width: 1157px) {
    
  
  
  .nav-list     {
    display: flex;
    gap: 40px;
    margin-left: 116px;        
  }

  .mobile-menu,
  .mobile-menu-toggle {
    display: none;
  }

  .container {
    margin-left: 16px; 
    justify-content: space-between;
    gap: 8px; 
  }
  .hero {  
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/hero.jpg);
  }
.contact-list a{

 margin-right: 164px;
 height: 14px;
 gap: 0;
 padding: 4px;
  }

  

  
  
  .hero-title {
max-width: 496px;
max-height: 120px;

}
.values-list {
  flex-wrap: wrap;         
  justify-content: center; 
}

.values-list li {
  flex: 0 0 calc((100% - 24px) / 2); 
  box-sizing: border-box;
}

.icon-box{
  display: none;
}
.value-title {
    font-weight: 500;    
    font-size: 20px;
    line-height: 24px;
   text-align: left;
    margin-bottom: 0;

  }
  
  .team{
width: auto;
height:1224px ;
  }
  
  
  
  .team-members-list {
    
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 108px;
    margin-left: 108px;
  }

  .team-item {
    width: calc((100% - 24px) / 2); 
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 40px; 
  }

  .portfolio-list{
width: auto;
height:auto;
 
}
.portfolio-list .portfolio-item {
  max-width: 356px;
}

  .portfolio-list li,
  .list-item{
    flex-wrap: wrap;
    justify-content: center;
     width: calc((100% - 24px) / 2); 
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  .value-text{
    text-align: left;
  }
  
    .footer-container{
    flex-wrap: wrap;  
  /*flex: 0 1 calc((100% - 24px) / 2); /* два элемента в ряд */
  box-sizing: border-box;
    margin-left: 108px;
   gap: 20px;

  }
 .social-section{
flex-wrap: wrap;
padding-right: 384px;
}
.social-title {
  text-align: left;
  margin-bottom: 16px;
}

.social-list {
margin: 0;
padding: 0;
padding-top: 16px;

}


}
@media screen and (min-width: 1158px) {
.nav-list,
.contact-list {
  display: flex;
  gap: 40px;
}

   .mobile-menu,
  .mobile-menu-toggle {
    display: none;
  }
}

@media (min-resolution: 2x){
  .hero {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/hero@2x.jpg);
  }
  }


